@font-face {
  font-family: 'iransans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANSans_5.5/eot/IRANSansWeb(FaNum).eot');
  src: url('../fonts/IRANSans_5.5/eot/IRANSansWeb(FaNum).eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/IRANSans_5.5/woff2/IRANSansWeb(FaNum).woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('../fonts/IRANSans_5.5/woff/IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/IRANSans_5.5/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
